# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Environment variables and API keys
.env

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
*.db

# Python virtual environments
.venv/
env/
venv/

# Streamlit
.streamlit/config.toml

# VS Code Workspace
*.code-workspace
